[Unit]
Description=the house configuration repository
After=network-online.target houseportal.service

[Service]
EnvironmentFile=-/etc/default/housesaga
EnvironmentFile=-/etc/sysconfig/housesaga
ExecStart=/usr/local/bin/housesaga $OPTS

[Install]
WantedBy=multi-user.target

