[Unit]
Description=the house configuration repository
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=house
Restart=on-failure
RestartSec=50s
EnvironmentFile=-/etc/default/housesaga
EnvironmentFile=-/etc/sysconfig/housesaga
ExecStart=/usr/local/bin/housesaga $OPTS

[Install]
WantedBy=multi-user.target

